@media (min-width: 360px) and (max-width:600px){
    nav{
        width: 100%;
        transform: translate(0);
        left:0;
        z-index:100;
    }
    .links > a{
        display: none;
    }
    .icons{
        display: none;
    }
    nav > i{
        display: initial;
    }

    .background{
        width: 100%;
        height: 70%;
        margin-bottom:50px;
        background-color: rgb(246, 246, 246);
    }
    .background > img{
        width: 100%;
        height: 60%;
        margin-top:55%;
        object-fit:cover;
        object-position:center;
    }
    .text{
        top: 40%;
        left:50%;
        width:70%;
    }
    .text > h1{
        font-size:30px;
    }
    .text > p{
        font-size: 15px;
        line-height:normal;
    }
    .text > .lets-go{
        padding:10px;
        transform: translateY(40%);
    }

    .image-container{
        width: 100%;
        height: auto;
        padding:0px 20px;
        display: block;
    }
    .image-container > .images-box{
        width: 100%;
        display:block;
    }
    .images-box > .box1{
        width: 100%;
        height: auto;
    }
    .images-box > .box1 > img{
        width: 100%;
        height: 50%;
        object-fit: cover;
    }
    .images-box > .box1 > h5{
        margin: 0;
    }
    .images-box > .box1 > p{
        font-size: 17px;
        margin-bottom:20px;
    }

    .images-box > .box2{
        width: 100%;
        height: auto;

    }
    .images-box > .box2 > img{
        width: 100%;
        height: 50%;
        object-fit: cover;
    }
    .images-box > .box2 > h5{
        margin: 0;
    }
    .images-box > .box2 > p{
        font-size:17px;
        margin-bottom:30px;
    }
    .news-button > button{
        font-size: 12px;
        margin:10px;
        margin-bottom:30px;
    }

    .games-box{
        width: 100%;
        height: 90%;
        background-position: center;
    }
    .games-text{
        width: 100%;
        padding:0px 30px;
        text-align: center;
        left: 0%;
        top: 5%;
    }
    .games-box .games-text > h1{
        font-size:28px;
        margin-bottom:15px;
    }
    .games-box .games-text p{
        font-size:14px;
        margin-bottom:25px;
    }
    .games-image > img{
        width: 320px;
        height: 320px;
        bottom:10%;
        left: 50%;
        transform: translate(-50%);
    }
    .careers-box{
        width: 100%;
        height: 90%;
    }
    .careers-text{
        width: 100%;
        padding: 0px 30px;
        text-align: center;
        right:0;
        top:8%;
    }
    .careers-text h1{
        font-size:28px;
        margin-bottom: 15px;
    }
    .careers-text p{
        font-size: 14px;
        margin-bottom: 25px;
    }
    .careers-image > img{
        width: 320px;
        height: 320px;
        left:50%;
        bottom: 9%;
        transform:translate(-50%);
    }
    .text-container2{
        width: 100%;
        height: auto;
        display: block;
    }
    .text-container2 > .text-box{
        display: block;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .text-box > .text-box1{
        width: 90%;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }
    .text-box > .text-box1 > img{
        width: 100%;
        height: 200px;
    }
    .text-box > .text-box1 > h3{
        font-size: 16px;
        padding:20px;
        text-align: center;
    }
    .text-box > .text-box1 > p{
        font-size:15px;
        padding:10px 30px;
    }
    .text-box > .text-box1 > a{
        font-size:13px;
    }

    .text-box > .text-box2{
        width: 90%;
        padding-bottom: 20px;
    }
    .text-box > .text-box2 > img{
        width: 100%;
        height: 200px;
    }
    .text-box > .text-box2 > h3{
        font-size: 16px;
        padding:20px;
        text-align: center;
    }
    .text-box > .text-box2 > p{
        font-size: 15px;
        padding: 10px 30px;
    }
    .text-box > .text-box2 > a{
        font-size:13px;
    }
    .footer{
        height: 70%;
        width: 100%;
        padding:0px 30px;
    }
    .social-media{
        width: 100%;
        border: none;
        flex-direction: column;
    }
    .social-left{
        border-bottom: 1px solid rgb(102, 101, 101);
        padding-bottom:5px;
        margin-bottom: 40px;;
    }
    .social-left > i{
        font-size:20px;
    }
    .social-right{
        display: block;
        border-bottom: 1px solid rgb(102, 101, 101);
        padding-bottom: 10px;
    }
    .bn45{
        width: 90px;
        height: 30px;
    }
    .bn46{
        width: 90px;
        height: 30px;
    }
    .legal-links{
        width: 100%;
        padding-top:40px;
        flex-direction: column;
        gap:10px;
    }
    .legal-links > a{
        font-size:10px;
    }
    .end{
        width: 100%;
        margin-top:10px;
    }
    .end > p{
        font-size: 10px;
        width:20%;
    }
    .end > img{
        width: 30px;
        height: 27px;
    }
}


@media (min-width: 601px) and (max-width:1024px){
    nav{
        width: 100%;
        transform: translate(0);
        left:0;
        z-index:100;
    }
    .links > a{
        display: none;
    }
    .icons{
        display: none;
    }
    nav > i{
        display: initial;
    }

    .background{
        width: 100%;
        height: 70%;
        margin-bottom:50px;
        background-color: rgb(246, 246, 246);
    }
    .background > img{
        width: 100%;
        height: 60%;
        margin-top:50%;
        object-fit:cover;
        object-position:center;
    }
    .text{
        top: 30%;
        left:50%;
        width:70%;
    }
    .text > h1{
        font-size:60px;
        margin-bottom:30px;
    }
    .text > p{
        font-size: 18px;
        line-height:normal;
        margin-bottom:40px;
    }
    .text > .lets-go{
        padding:10px;
        font-size:15px;
        transform: translateY(40%);
    }

    .image-container{
        width: 100%;
        height: auto;
        padding:0px 20px;
        display: block;
    }
    .image-container > .images-box{
        width: 100%;
        display:block;
    }
    .images-box > .box1{
        width: 100%;
        height: auto;
    }
    .images-box > .box1 > img{
        width: 100%;
        height: 50%;
        object-fit: cover;
    }
    .images-box > .box1 > h5{
        /* margin: 0; */
        font-size:15px;
        margin-bottom:10px;
    }
    .images-box > .box1 > p{
        font-size: 22px;
        margin-bottom:20px;
    }

    .images-box > .box2{
        width: 100%;
        height: auto;

    }
    .images-box > .box2 > img{
        width: 100%;
        height: 50%;
        object-fit: cover;
    }
    .images-box > .box2 > h5{
        margin-bottom: 20px;
        font-size:15px;
    }
    .images-box > .box2 > p{
        font-size:22px;
        margin-bottom:20px;
    }
    .news-button > button{
        font-size: 17px;
        margin:10px;
        margin-bottom:30px;
    }

    .games-box{
        width: 100%;
        height: 90%;
        background-position: center;
    }
    .games-text{
        width: 100%;
        padding:0px 30px;
        text-align: center;
        left: 0%;
        top: 10%;
    }
    .games-box .games-text > h1{
        font-size:60px;
        margin-bottom:30px;
    }
    .games-box .games-text p{
        font-size:26px;
        margin-bottom:50px;
    }
    .games-text button{
        font-size:20px;
    }
    .games-image > img{
        width: 420px;
        height: 420px;
        top:80%;
        left: 50%;
        transform: translate(-50%);
    }
    .careers-box{
        width: 100%;
        height: 90%;
    }
    .careers-text{
        width: 100%;
        padding: 0px 30px;
        text-align: center;
        right:0;
        top:10%;
    }
    .careers-text h1{
        font-size:60px;
        margin-bottom: 15px;
    }
    .careers-text p{
        font-size: 26px;
        margin-bottom: 50px;
    }
    .careers-text button{
        font-size:20px;
    }
    .careers-image > img{
        width: 450px;
        height: 450px;
        left:50%;
        top: 70%;
        transform:translate(-50%);
    }
    .text-container2{
        width: 100%;
        height: auto;
        display: block;
    }
    .text-container2 > .text-box{
        display: block;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .text-box > .text-box1{
        width: 90%;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }
    .text-box > .text-box1 > img{
        width: 100%;
        height: 200px;
    }
    .text-box > .text-box1 > h3{
        font-size: 23px;
        padding:23px;
        text-align: center;
    }
    .text-box > .text-box1 > p{
        font-size:20px;
        padding:10px 30px;
    }
    .text-box > .text-box1 > a{
        font-size:16px;
    }

    .text-box > .text-box2{
        width: 90%;
        padding-bottom: 20px;
    }
    .text-box > .text-box2 > img{
        width: 100%;
        height: 200px;
    }
    .text-box > .text-box2 > h3{
        font-size: 25px;
        padding:23px;
        text-align: center;
    }
    .text-box > .text-box2 > p{
        font-size: 20px;
        padding: 10px 23px;
    }
    .text-box > .text-box2 > a{
        font-size:16px;
    }
    .footer{
        height: 70%;
        width: 100%;
        padding:0px 30px;
    }
    .social-media{
        width: 100%;
        border: none;
        flex-direction: column;
    }
    .social-left > p{
        font-size: 20px;
    }
    .social-left{
        border-bottom: 1px solid rgb(102, 101, 101);
        padding-bottom:5px;
        margin-bottom: 40px;;
    }
    .social-left > i{
        font-size:35px;
    }
    .social-right{
        display: block;
        border-bottom: 1px solid rgb(102, 101, 101);
        padding-bottom: 10px;
    }
    .bn45{
        width: 140px;
        height: 46px;
    }
    .bn46{
        width: 140px;
        height: 46px;
    }
    .legal-links{
        width: 100%;
        padding-top:40px;
        flex-direction: column;
        gap:10px;
    }
    .legal-links > a{
        font-size:18px;
    }
    .end{
        width: 100%;
        margin-top:10px;
    }
    .end > p{
        font-size: 15px;
        width:20%;
    }
    .end > img{
        width: 45px;
        height: 40px;
    }
}